
.doctor-patient-page {
  padding: 10px;
}

.page-title {
  background-color: #78d494;
  color: #000;
  font-size: 1.8rem;
  font-weight: 700;
  padding: 12px 20px;
  border-radius: 4px;
  margin-bottom: 20px;
}

/* Layout structure */
.patient-layout {
  display: flex;
  gap: 20px;
}

/* Left side (info + history + notes) */
.patient-main {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.patient-card {
  background-color: #b4db51;
  padding: 15px 20px;
  border-radius: 10px;
}

.patient-card h3 {
  font-weight: 700;
  margin-bottom: 10px;
}

.patient-info-content p {
  margin: 4px 0;
}

/* Table styling */
.history-table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  border-radius: 6px;
  overflow: hidden;
}

.history-table th,
.history-table td {
  padding: 8px 10px;
  border: 1px solid #ccc;
  text-align: center;
  font-size: 0.9rem;
}

/* Notes section */
.notes-area {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-family: inherit;
  resize: vertical;
  margin-bottom: 10px;
}

.save-btn {
  background-color: #fff;
  border: none;
  border-radius: 20px;
  padding: 8px 18px;
  font-weight: 600;
  cursor: pointer;
}

.save-btn:hover {
  background-color: #e4f5d2;
}

/* Right section (Quick Actions) */
.quick-actions-box {
  flex: 1;
  background-color: #b4db51;
  padding: 15px 20px;
  border-radius: 10px;
  height: fit-content;
}

.quick-actions-box h3 {
  margin-bottom: 12px;
  font-weight: 700;
}

.quick-actions-box ul {
  list-style: none;
  padding: 0;
}

.quick-btn {
  background: none;
  border: none;
  text-align: left;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  margin: 6px 0;
}

.quick-btn:hover {
  color: #145e2f;
  text-decoration: underline;
}
.back-btn {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background: rgb(73, 172, 147);
  border: none;
  color:black;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.3s;
  margin-bottom: 10px;
}

.back-btn:hover {
  color: #136e3f;
}

.back-icon {
  font-size: 1.2rem;
}

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

